NOTE:
-----

Please run the below cells first before proceeding- you'll need them soon!

In [ ]:
%load_ext sql
%sql sqlite:///dataset_1.db

Activity 2-6
------------
Quantifiers, NULLs, and Outer Joins

Exercise #1
-----------

Recall that the tables we just looked at:

`bagel`, which describes types of bagels made by the different bagel companies:
> * name STRING
> * price FLOAT
> * made_by STRING

And `purchase`:
> * bagel_name STRING
> * franchise STRING
> * date INT
> * quantity INT
> * purchaser_age INT

Where `purchase.bagel_name` references `bagel.name` and `purchase.franchise` references `bagel.made_by`.

**Can you find out if there were any purchases of products not on one of the company's official lists (i.e. the `bagel` table), using a single SQL query?**

Write your query here:

Practice Review
------------
Putting it all together

In addition to the `purchase` and `bagel` tables defined above, we will also make use of the `store` and `franchise` tables. Instead of me giving you the schemas for those tables, why don't you look them up yourself? Remember that the `sqlite_master` table has the following schema:

`sqlite_master`:
> * type STRING
> * name STRING
> * tbl_name STRING
> * rootpage INT
> * sql STRING

Keep in mind that `purchase.franchise` and `store.franchise` both reference `franchise.name`.

**Write a query to find out the sql schemas of the `store` and `franchise` tables below. Keep in mind that other database objects (e.g., a view) may have the same name as a table. You may want to also display the table name, to easily differentiate the sql statements.**

Did you use `OR` in the previous query? Try it again with `IN`. If you used `IN`, try it again with `OR`.

Let's now create another table that will map franchise locations to states via their 2-letter abbreviations (e.g., CA for California). The schema should be:

`location`:
> * name STRING
> * state STRING

Limit `state` to two characters and set `name` as key. After you create the table, insert the following tuples:

> * (NYC, NY)
> * (PA, PA)
> * (Chicago, IL)

**Write your queries below. Then, query all rows from the `location` table.**

In [ ]:
%sql DROP table IF EXISTS `location`;

In [5]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.

[(u'NYC', u'NY'), (u'PA', u'PA'), (u'Chicago', u'IL')]

Find all the states that have `a` as the second letter in their names. Print out the name and abbreviation for those states.

In [6]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(u'California', u'CA'),
 (u'Kansas', u'KS'),
 (u'Maine', u'ME'),
 (u'Maryland', u'MD'),
 (u'Massachusetts', u'MA'),
 (u'Washington', u'WA'),
 (u'Hawaii', u'HI'),
 (u'Pacific Islands', u'PI')]

Count the number of states and teritories in the United States (not including the capital). *Hint: you may want to check the quality of the data.*

Adjust your query to get the right number of states+teritories.

In [7]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(53,)]

Write an `INTERSECT` query to find the set of states that have stores in them. Output the full state names.

In [8]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(u'New York',), (u'Pennsylvania',), (u'Illinois',)]

Write a query that will output the `name` of the state and the number of stores in that state (`num_stores`) for all states that have at least two stores.

In [9]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(u'New York', 2), (u'Pennsylvania', 2)]

What are the names of the franchises that have  less than 4 stores? Use JOIN...ON in the query.

In [10]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(u'BAGEL CORP',), (u'Bobs Bagels',), (u'eBagel',)]

What is the total revenue (`quantity` * `price`) derived from selling bagels to young adults (ages 18-35 years) in the states of `New York` or `Pennsylvania`?

In [11]:
"""
Expected output below

Don't re-execute this cell!
"""

Done.

[(47.64,)]