**Nicholas Frangos**
CMPE 138
Homework 1

Loading SQLite.

In [1]:
%load_ext sql
%sql sqlite://

'Connected: None@None'

Q1: Creating tables.

In [2]:
%%sql 

CREATE TABLE Suppliers(
    sid INTEGER PRIMARY KEY,
    sname STRING,
    address STRING);

CREATE TABLE Parts(
    pid INTEGER PRIMARY KEY,
    pname STRING,
    color STRING);

CREATE TABLE Catalog(
    sid INTEGER,
    pid INTEGER,
    cost REAL,
    FOREIGN KEY(sid) REFERENCES Suppliers(sid),
    FOREIGN KEY(pid) REFERENCES Parts(pid)
    PRIMARY KEY (sid,pid));

Done.
Done.
Done.

[]

Inserting values.

In [3]:
%%sql
INSERT INTO Suppliers(sid, sname, address) VALUES(10,"Acme Widget Suppliers","221 Packer Street");
INSERT INTO Suppliers(sid, sname, address) VALUES(11,"Yosemite Sham","address2");
INSERT INTO Suppliers(sid, sname, address) VALUES(12,"Particular Part Suppliers","address3");
INSERT INTO Suppliers(sid, sname, address) VALUES(13,"eBay","address4");

INSERT INTO Parts(pid, pname, color) VALUES(20,"Part1","Red");
INSERT INTO Parts(pid, pname, color) VALUES(21,"Part2","Blue");
INSERT INTO Parts(pid, pname, color) VALUES(22,"Part3","Yellow");
INSERT INTO Parts(pid, pname, color) VALUES(23,"Part4","Green");

INSERT INTO Catalog(sid, pid, cost) VALUES(10,20, 10.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(10,21, 11.00);
--INSERT INTO Catalog(sid, pid, cost) VALUES(10,22, 12.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(10,23, 13.00);

INSERT INTO Catalog(sid, pid, cost) VALUES(11,20, 8.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(11,21, 10.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(11,22, 12.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(11,23, 14.00);

INSERT INTO Catalog(sid, pid, cost) VALUES(12,20, 9.50);
INSERT INTO Catalog(sid, pid, cost) VALUES(12,21, 11.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(12,22, 12.50);
INSERT INTO Catalog(sid, pid, cost) VALUES(12,23, 14.00);

INSERT INTO Catalog(sid, pid, cost) VALUES(13,20, 4.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(13,21, 5.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(13,22, 6.00);
INSERT INTO Catalog(sid, pid, cost) VALUES(13,23, 12.34);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [4]:
%%sql
SELECT DISTINCT *
FROM Suppliers s;

Done.

[(10, u'Acme Widget Suppliers', u'221 Packer Street'),
 (11, u'Yosemite Sham', u'address2'),
 (12, u'Particular Part Suppliers', u'address3'),
 (13, u'eBay', u'address4')]

In [5]:
%%sql
SELECT *
FROM Parts p;

Done.

[(20, u'Part1', u'Red'),
 (21, u'Part2', u'Blue'),
 (22, u'Part3', u'Yellow'),
 (23, u'Part4', u'Green')]

In [6]:
%%sql
SELECT *
FROM Catalog c;

Done.

[(10, 20, 10.0),
 (10, 21, 11.0),
 (10, 23, 13.0),
 (11, 20, 8.0),
 (11, 21, 10.0),
 (11, 22, 12.0),
 (11, 23, 14.0),
 (12, 20, 9.5),
 (12, 21, 11.0),
 (12, 22, 12.5),
 (12, 23, 14.0),
 (13, 20, 4.0),
 (13, 21, 5.0),
 (13, 22, 6.0),
 (13, 23, 12.34)]

Q2: Testing Queries

1. Select distinct Parts pnames from the Parts and Catalog tables that have matching pid's. Returns all pnames.

2. Select Supplier snames that do not carry a pid except if their sid matches that of the Catalog's sid.

3. Select Supplier snames that do not carry a red part except if their sid and pid matches that of the Catalog's red parts.

4. Select a Parts pname where the Parts pid matches the catalog and where the supplier of that part's sid matches the Catalog and that supplier is Acme Widget Supplier.

5. Select distinct catalog sid where the cost is greater than the average cost for a pid in the Catalog.

6. Select max cost Parts pid and Supplier sname where the catalog contains matching pid and sid.

7. Select distinct sid that does not exist in the Catalog where the part pid and catalog pid match and the part color is not red.

8. Select distinct sid from the Catalog that matches the Parts pid and is red AND also a distinct sid from the Catalog that matches the Parts pid and is green.

9. Select distinct sid from the catalog where the Catalog pid matches the Parts pid and is red OR a distinct sid from the Catalog that matches the Parts pid and is green. (NULL SET)

10. Count snames from Suppliers where the Parts pid and Suppliers sid match the catalog. Group entries by Suppliers sname and sid for every Parts color green.

11. Select Suppliers sname where Catalog cost is maximum, Parts pid and Suppliers sid matches the Catalog's. Group Suppliers sid and sname by any Parts color Green and red.

Q3: Write SQL queries.

1.Find the names of suppliers who supply some red part.

In [7]:
%%sql
SELECT s.sname
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND p.color IS 'Red';

Done.

[(u'Acme Widget Suppliers',),
 (u'Yosemite Sham',),
 (u'Particular Part Suppliers',),
 (u'eBay',)]

2.Find the sids of suppliers who supply some red or green part.

In [8]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND (p.color IS 'Red' OR p.color IS 'Green');

Done.

[(10,), (11,), (12,), (13,)]

3.Find the sids of suppliers who supply some red part or are at 221 Packer Street.

In [9]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND (p.color IS 'Red' OR s.address IS "221 Packer Street");

Done.

[(10,), (11,), (12,), (13,)]

4.Find the sids of suppliers who supply some red part and some green part.

In [10]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND p.color IS 'Red'
INTERSECT
SELECT DISTINCT s1.sid
FROM Suppliers s1, Parts p1, Catalog c1
WHERE s1.sid = c1.sid AND p1.pid = c1.pid AND p1.color IS 'Green'

Done.

[(10,), (11,), (12,), (13,)]

5.Find the sids of suppliers who supply every part.

In [11]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid
GROUP BY c.pid
HAVING COUNT(*) = (SELECT COUNT(*)
                   FROM Parts p1);

Done.

[(13,)]

6.Find the sids of who supply every red part.

In [12]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND p.color IS 'Red'
GROUP BY c.pid
HAVING COUNT(*) = (SELECT COUNT(*)
                   FROM Parts p1);

Done.

[(13,)]

7.Find the sids of suppliers who supply every red or green part.

In [13]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND (p.color IS 'Red' OR p.color IS 'GREEN')
GROUP BY c.pid
HAVING COUNT(*) = (SELECT COUNT(*)
                   FROM Parts p1);

Done.

[(13,)]

8.Find the sids of suppliers who supply every red part or supply every green part.

In [14]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND p.color IS 'Red'
GROUP BY c.pid
HAVING COUNT(*) = (SELECT COUNT(*)
                   FROM Parts p1)
UNION
SELECT DISTINCT s1.sid
FROM Suppliers s1, Parts p2, Catalog c1
WHERE s1.sid = c1.sid AND p2.pid = c1.pid AND p2.color IS 'GREEN'
GROUP BY c1.pid
HAVING COUNT(*) = (SELECT COUNT(*)
                   FROM Parts p3);

Done.

[(13,)]

9.Find pairs of sids such that the supplier with the first sid charges more for some part than the supplier with the second sid.

In [15]:
%%sql
SELECT s1.sid, s2.sid
FROM Suppliers s1, Suppliers s2, Catalog c1, Catalog c2
WHERE s1.sid = c1.sid AND s2.sid = c2.sid
GROUP BY s1.sid, s2.sid
HAVING c1.cost > c2.cost;

Done.

[(10, 13), (11, 10), (11, 13), (12, 10), (12, 13)]

10.Find the pids of parts supplied by at least two different suppliers.

In [16]:
%%sql
SELECT p.pid
FROM Suppliers s, Parts p, Catalog c
WHERE p.pid = c.pid AND s.sid = c.sid
GROUP BY p.pid
HAVING COUNT(s.sid) > 1;

Done.

[(20,), (21,), (22,), (23,)]

11.Find the pids of the most expensive parts supplied by suppliers named Yosemite Sham.

In [17]:
%%sql
SELECT p.pid
FROM Suppliers s, Parts p, Catalog c
WHERE s.sid = c.sid AND p.pid = c.pid AND s.sname = "Yosemite Sham"
AND c.cost = (SELECT MAX(c1.cost)
             FROM Catalog c1
             WHERE c1.pid=p.pid);

Done.

[(23,)]